.interface-container {
  font-family: sans-serif;
}
.timeline {
  position: relative;
  height: 50px;
}
.line {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}
.dot {
  top: 50%;
  transform: translate(-50%, -50%);
}
.african-pattern-header {
  background-color: #d63b1b;
  color: white;
  background-image: linear-gradient(135deg, #d63b1b 25%, #683c11 100%);
}